---
name: EctoHooks | PR Workflow

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # ===================================================================================
      # Setup
      # ===================================================================================
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.9.0
        with:
          access_token: ${{ github.token }}
      - name: Checkout Github repo
        uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v13
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      # ===================================================================================
      # Initialize locally installed tools / services
      # ===================================================================================
      - run: nix-shell --run "mix local.rebar --force && mix local.hex --force"
      # ===================================================================================
      # Get cached dependencies if they exist, otherwise initialize and save cache
      # ===================================================================================
      - uses: actions/cache@v2
        id: mix-cache
        with:
          path: |
            deps
            _build
            priv/plts
          key: ${{ hashFiles('shell.nix') }}-${{ hashFiles('mix.lock') }}
      - if: steps.mix-cache.outputs.cache-hit != 'true'
        run: nix-shell --run "mkdir -p priv/plts; mix deps.get; mix deps.compile"
      # ===================================================================================
      # Execute linting / test tasks
      # ===================================================================================
      - run: nix-shell --run "mix lint"
      - run: nix-shell --run "mix test --trace --slowest 10"
